<h2>This is a neat Sinatra template!</h2>

<pre>
app.rb           # require sinatra, haml, vendor'd gems, models/init, routes/init, helpers/init
helpers/         
    init.rb      # Requires each helper file
    helper1.rb   # Related helper methods

models/          
    init.rb      # Require sequel, set up the DB; require each model, in controlled order
    foo.rb       # One or more Sequel models
    bar.rb       # One or more related models

routes/          
    init.rb      # Require each route, in controlled order
    admin.rb     # One or more routes related to administration
    foo.rb       # One or more routes related to some feature

views/
    layout.haml  # Common layout
    foo.haml     # Specific view
    bar.haml     # Specific view


Note:
I used cucumber-sinatra gem to generate the initial setup files of cucumber with sinatra.
I run this command: cucumber-sinatra init MyApp app.rb

Install
-------
git clone git@github.com:oren/sinatra-template.git
rvm install ruby-1.9.2-p290
cd sinatra-template
rvm gemset import

Run
---
shotgun

Enjoy
-----
http://127.0.0.1:9393

Run the cucumber tests
----------------------
install tests gems
rvm gemset import test.gem
cucumber features

</pre>
