<html> 
  <head> 

    <link href="/css/main.css" rel='stylesheet'> 
    
    <title>Sinatra Template</title> 
  </head> 

  <body> 

    <div id='container'>
      <%= yield %>
    </div>
    
  </body> 
</html> 


